name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: denoland/setup-deno@c6651c1dcd0034a1ba14332435b76e64ecaedb5d
        with:
          deno-version: v1.x
      - run: deno fmt --check
        if: matrix.os == 'ubuntu-latest'
      - run: deno lint
        if: matrix.os == 'ubuntu-latest'
      - run: |
          deno task cov
          deno task codecov
      # TODO(kt3k): enable this again when dnt supports Deno.Command
      # https://github.com/denoland/node_shims/issues/110
      # - run: deno task dnt
      #   if: matrix.os == 'ubuntu-latest'
